<ul class="list-group" >
  {{#events}}
    <li class="list-group-item">
        <h2 class="text-capitalize">{{ title }}</h2>
        <p class="text-capitalize">{{ description }}</p>
    </li>
  {{/events}}
</ul>